*{
	padding: 0px;
	margin:0px;
}
body{
	background-color: #FFFFFF;
	font-family: Open Sans;
}
a{
	text-decoration: none;
}
a:link{
	color: #A7A7A7;
}
a:visited{
	color: #A7A7A7;
}
.container{
	max-width: 1366px;
	margin: 0px auto;
}
.centered{
	text-align: center;
}
.inside-text{
	margin: 0px 145px;
}
#header{
	padding: 17px 0px;
	color: #000000;
}
#header img{
	width: 30px;
	height: 30px;
	margin-right: 20px;
	transform: translateY(15%);
}
#header h1{
	display: inline-block;
}
#intro{
	font-size: 48px;
	color: #FFFFFF;
	padding: 96px 0px;
	background-image: url('img/learn.png');
}
#about p, h2{
	padding: 15px 0px;
}
#edu{
	display: flex;
	justify-content: start;
	flex-wrap: wrap;																																											
	align-items: center;
	font-size: 46px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #F1F1F1;
	padding-left: 145px;
}
#edu img{
	width: 730px;
}
.btn{
	border-radius: 30px;
	margin: 40px 10.5px;
	font-size: 16px;
	background-color: #00B1FF;
	color: #FFFFFF;
	border: 1px solid #00B1FF; 
}
.btn.active{
	background-color: #FFFFFF;
	color: #00B1FF;
}
#book{
	padding: 16px 42px 16px 43px;
}
#request{
	padding: 16px 39px;
}
#footer a{
	text-decoration: underline;
	margin: 20px 12px;
	font-size: 12px;
}